body {
  font-family: Arial;
  font-size: 11px;
  padding:20px;
}

.node {
  cursor: move;
  stroke: #efefef;
  stroke-opacity: 1;
  stroke-width: 1.5px;
  position:relative;
}

.link {
  stroke: #999;
  position:relative;
}

.fixed {
  stroke: #0047B2;
}

#lancomlogo {
 width:160px;
}

#d3container {
 display:block;
 border:1px solid #eeeeee;
 height:700px;
 width:1000px;
 float:left;
 margin-right:20px;
 margin-bottom:20px;
}

#logo {
 position:relative;
 display:block;
 width:700px;
 height:60px;
 float:left;
 margin-bottom:20px;
}

#controls {
 float:left;
 position:relative;
 display:block;
 width:482px;
 height:60px;
 border:1px solid #eeeeee;
 background:#f6f6f6;
 margin-bottom:20px;
}

#legend {
 display:block;
 float:left;
 border:1px solid #eeeeee;
 background:#f6f6f6;
 width:160px;
 height:700px;
}

.clear {
 clear:both;
}